### ADOPCIONES

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from deep_translator import GoogleTranslator
from bootcampviztools import pinta_distribucion_categoricas, plot_categorical_relationship_fin, plot_categorical_numerical_relationship, \
                              plot_combined_graphs, plot_grouped_boxplots, plot_grouped_histograms, grafico_dispersion_con_correlacion, \
                              bubble_plot, tricategorical_analysis

In [2]:
import os
os.getcwd()

'c:\\Users\\Usuario\\Desktop\\LAURA\\THEBRIDGE\\GitHub\\EDA-MACHINE_LEARNING\\Adoptions'

In [3]:
os.listdir()

['Austin_Animal_Center_Outcomes.csv',
 'bootcampviztools.py',
 'EDA_Adopciones.ipynb',
 'página web adopciones.txt',
 '__pycache__']

In [4]:
df_adopciones = pd.read_csv("Austin_Animal_Center_Outcomes.csv")
df_adopciones.head()

,Outcome Date,Animal ID,Name,Outcome Status,Euthanasia Reason,Type,Sex,Spayed/Neutered,Primary Breed,Primary Color,Secondary Color,Date of Birth,Intake Date,Days in Shelter
0,01/27/2026 12:40:00 PM,20626,Colby,Adopted,NaN,Cat,Female,Yes,Domestic Shorthair,Muted Tortoiseshell,NaN,10/20/2018 12:00:00 AM,01/20/2026 04:12:00 PM,6
1,01/27/2026 02:41:35 PM,20489,George,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Brown Tabby,White,05/15/2023 12:00:00 AM,01/16/2026 06:50:00 PM,10
2,01/27/2026 03:24:59 PM,20579,Socks,Adopted,NaN,Dog,Male,Yes,American Pit Bull Terrier,Blue,White,01/20/2025 12:00:00 AM,01/20/2026 08:04:00 AM,7
3,01/27/2026 04:32:04 PM,20503,Tiger*,Adopted,NaN,Puppy,Male,yes,Labrador Retriever,White,NaN,11/09/2025 12:00:00 AM,01/17/2026 12:43:00 PM,10
4,06/22/2025 06:12:03 PM,8747,Smoke,Adopted,NaN,Dog,Male,Yes,American Pit Bull Terrier,Chocolate,NaN,01/25/2015 12:00:00 AM,06/02/2025 10:44:00 AM,20

In [5]:
df_adopciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9351 entries, 0 to 9350
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Outcome Date       9351 non-null   object
 1   Animal ID          9351 non-null   int64
 2   Name               5759 non-null   object
 3   Outcome Status     9351 non-null   object
 4   Euthanasia Reason  593 non-null    object
 5   Type               9351 non-null   object
 6   Sex                9341 non-null   object
 7   Spayed/Neutered    9340 non-null   object
 8   Primary Breed      9351 non-null   object
 9   Primary Color      9351 non-null   object
 10  Secondary Color    4923 non-null   object
 11  Date of Birth      8757 non-null   object
 12  Intake Date        9351 non-null   object
 13  Days in Shelter    9351 non-null   int64
dtypes: int64(2), object(12)
memory usage: 1022.9+ KB

In [6]:
df_adopciones.columns

Index(['Outcome Date', 'Animal ID', 'Name', 'Outcome Status',
       'Euthanasia Reason', 'Type', 'Sex', 'Spayed/Neutered', 'Primary Breed',
       'Primary Color', 'Secondary Color', 'Date of Birth', 'Intake Date',
       'Days in Shelter'],
      dtype='object')

| Variable | Descripción |
| -------- | ----------- |
| Outcome Date | Fecha de adopción |
| Animal ID | Número de identificación del animal |
| Name | Nombre del animal |
| Outcome Status | Adoptado/No adoptado |
| Euthanasia Reason | Motivo de eutanasia |
| Type | Gato/Perro/Cachorro gato/Cachorro perro/Conejo (El resto, por mi salud mental, los voy a eliminar)|
| Sex | Hembra/Macho|
| Spayed/Neutered | Castrado o no |
| Primary breed | Raza dominante (pero no hay más variables que indiquen la mezcla, en los casos que no saben, es "domestic shorthair"... ) |
| Primary Color | Color primario del pelaje |
| Secondary Color | Color secundario del pelaje |
| Date of birth | Fecha de nacimiento (de aquí se puede sacar la edad) |
| Intake Date | Fecha de entrada en el refugio |
| Days in shelter | Días que lleva el animal en el refugio (puede servir más que la de arriba) |

In [7]:
df_adopciones.describe()

          Animal ID  Days in Shelter
count   9351.000000      9351.000000
mean   13002.489787        33.193027
std     4442.496142        63.200332
min     5944.000000         0.000000
25%     8824.500000         4.000000
50%    13082.000000        12.000000
75%    16763.500000        41.000000
max    21332.000000      1641.000000

***

##### Variables que no voy a usar:

- Animal ID: No es relevante para el modelo
- Name: Tampoco es relevante
- Euthanasia Reason: Hay muchos nulos, y tampoco es relevante para lo que quiero hacer.
- Secondary Color: Más del 50% de nulos, no es una variable que determine la predicción de adopción
- Intake Date: Es equivalente a "Days in Shelter", y esta segunda es más sencilla de usar

Las elimino todas

In [8]:
df_adopciones = df_adopciones.drop(columns = ["Animal ID", "Name", "Euthanasia Reason", "Secondary Color", "Intake Date"], axis = 1)

In [9]:
df_adopciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9351 entries, 0 to 9350
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Outcome Date     9351 non-null   object
 1   Outcome Status   9351 non-null   object
 2   Type             9351 non-null   object
 3   Sex              9341 non-null   object
 4   Spayed/Neutered  9340 non-null   object
 5   Primary Breed    9351 non-null   object
 6   Primary Color    9351 non-null   object
 7   Date of Birth    8757 non-null   object
 8   Days in Shelter  9351 non-null   int64
dtypes: int64(1), object(8)
memory usage: 657.6+ KB

***

En el caso de "Type" sólo voy a estudiar perros y gatos y sus cachorros y conejos. Por eso voy a eliminar las filas que tengan esos animales

In [10]:
df_adopciones["Type"].value_counts()

Type
Cat                   4802
Dog                   3269
Kitten                 552
Mammal                 323
Puppy                  245
Rabbit                  42
Guinea Pig              26
Bird (wildlife)         22
Bird                    14
Fowl                    14
Reptile                 13
Rodent                  12
Marsupial                9
Reptile (Wildlife)       4
Pig                      1
Goat                     1
Zoo                      1
Ferret                   1
Name: count, dtype: int64

In [11]:
filtro = ["Dog", "Cat", "Puppy", "Kitten"]

df_adopciones = df_adopciones[df_adopciones["Type"].isin(filtro)].reset_index(drop = True)

In [12]:
df_adopciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8868 entries, 0 to 8867
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Outcome Date     8868 non-null   object
 1   Outcome Status   8868 non-null   object
 2   Type             8868 non-null   object
 3   Sex              8864 non-null   object
 4   Spayed/Neutered  8857 non-null   object
 5   Primary Breed    8868 non-null   object
 6   Primary Color    8868 non-null   object
 7   Date of Birth    8593 non-null   object
 8   Days in Shelter  8868 non-null   int64
dtypes: int64(1), object(8)
memory usage: 623.7+ KB

***

Ahora voy a rellenar los pocos nulos que quedan en:

- Sex: Sustituyo NaN categoría "Unknown" (✔)
- Sprayed/Neutered: Sustituyo NaN por categoría "Unkown" (✔)
- Date of birth: Sustituyo NaN por categoría "Unkown" (✔)

In [13]:
df_adopciones["Sex"].unique()

array(['Female', 'Male', 'Unknown', nan], dtype=object)

In [14]:
df_adopciones["Sex"] = df_adopciones["Sex"].fillna("Unknown")

In [15]:
df_adopciones["Sex"].value_counts()

Sex
Male       4111
Female     3962
Unknown     795
Name: count, dtype: int64

In [16]:
df_adopciones["Spayed/Neutered"].value_counts()

Spayed/Neutered
Yes        4751
No         1864
yes        1229
Unknown    1013
Name: count, dtype: int64

In [17]:
df_adopciones["Spayed/Neutered"] = df_adopciones["Spayed/Neutered"].str.replace("yes", "Yes")

In [18]:
df_adopciones["Spayed/Neutered"] = df_adopciones["Spayed/Neutered"].fillna("Unknown")

In [19]:
df_adopciones["Date of Birth"].isnull().value_counts()

Date of Birth
False    8593
True      275
Name: count, dtype: int64

In [20]:
df_adopciones = df_adopciones.rename(columns = {"Outcome Date": "fecha_adop", "Outcome Status": "situ_adop", "Type": "animal", "Spayed/Neutered": "castracion", 
                                                "Primary Breed": "raza", "Primary Color": "color_pelaje", "Days in Shelter": "dias_refugio" })

***

In [21]:
df_adopciones.columns

Index(['fecha_adop', 'situ_adop', 'animal', 'Sex', 'castracion', 'raza',
       'color_pelaje', 'Date of Birth', 'dias_refugio'],
      dtype='object')

In [29]:
df_adopciones["Date of Birth"] = pd.to_datetime(df_adopciones["Date of Birth"], errors = "coerce")
df_adopciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8868 entries, 0 to 8867
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fecha_adop     8868 non-null   object
 1   situ_adop      8868 non-null   object
 2   animal         8868 non-null   object
 3   Sex            8868 non-null   object
 4   castracion     8868 non-null   object
 5   raza           8868 non-null   object
 6   color_pelaje   8868 non-null   object
 7   Date of Birth  8593 non-null   datetime64[ns]
 8   dias_refugio   8868 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 623.7+ KB

In [30]:
df_adopciones["Date of Birth"].isnull().value_counts()

Date of Birth
False    8593
True      275
Name: count, dtype: int64

In [35]:
fecha_hoy = pd.to_datetime("2026-02-24")

type(fecha_hoy)

pandas._libs.tslibs.timestamps.Timestamp

In [37]:
import datetime

edad = []
inicio = 0

for valor in df_adopciones["Date of Birth"]:
    if pd.isna(valor):
        edad.append("Unknown")
    else:
        if isinstance(valor, datetime.date):
            edades = (fecha_hoy - valor)
            anios = edades.days // 365
            edad.append(anios)

In [38]:
df_adopciones["edad"] = edad

In [42]:
df_adopciones = df_adopciones.drop(["Date of Birth"], axis = 1)
df_adopciones.head()

,fecha_adop,situ_adop,animal,Sex,castracion,raza,color_pelaje,dias_refugio,edad
0,01/27/2026 12:40:00 PM,Adopted,Cat,Female,Yes,Domestic Shorthair,Muted Tortoiseshell,6,7
1,01/27/2026 02:41:35 PM,Adopted,Cat,Male,Yes,Domestic Shorthair,Brown Tabby,10,2
2,01/27/2026 03:24:59 PM,Adopted,Dog,Male,Yes,American Pit Bull Terrier,Blue,7,1
3,01/27/2026 04:32:04 PM,Adopted,Puppy,Male,Yes,Labrador Retriever,White,10,0
4,06/22/2025 06:12:03 PM,Adopted,Dog,Male,Yes,American Pit Bull Terrier,Chocolate,20,11

In [51]:
df_adopciones["situ_adop"].value_counts()

situ_adop
Adopted                          4541
Transfer Out                     2235
Reclaimed                         700
Adopted Altered                   497
Euthanized                        370
Unassisted Death                  114
Return to Habitat                 101
DOA                                78
Adopted Offsite(Altered)           77
Adopted Offsite                    28
Adopted Unaltered                  27
Redemption (Offsite)               26
Unassisted Death - In Foster       23
Unassisted Death - In Transit      10
DOA - Released to Owner             9
Unresolved File                     8
Cremation - Communal                6
Euthanasia - RTO                    4
Adopted Offsite(Unaltered)          4
Interred                            4
Returned To Owner                   2
Escaped                             1
Cremated                            1
Cremation - Private                 1
Adopted to Finder                   1
Name: count, dtype: int64

Adopted:
Adopted + Adopted altered + Adopted to finder + Adopted Offsite(3) + Adopted Unaltered

In [55]:
(df_adopciones["situ_adop"] == "Return to Habitat").value_counts()

situ_adop
False    8767
True      101
Name: count, dtype: int64

***

#### Dataset limpio:

| Variable | Descripción |
| -------- | ----------- |
| fecha_adop | Fecha de adopción |
| situ_adop | Adoptado/No adoptado |
| animal | Gato/Perro/Cachorro gato/Cachorro perro/Conejo (El resto, por mi salud mental, los voy a eliminar)|
| Sex | Hembra/Macho|
| castracion | Castrado o no |
| raza | Raza dominante (pero no hay más variables que indiquen la mezcla, en los casos que no saben, es "domestic shorthair"... ) |
| color_pelaje | Color primario del pelaje |
| Secondary Color | Color secundario del pelaje |
| edad | Edad de los animales en años |
| dias_refugio | Días que lleva el animal en el refugio |

In [43]:
# Análisis

df_adopciones.nunique()

fecha_adop      7401
situ_adop         25
animal             4
Sex                3
castracion         3
raza             166
color_pelaje      97
dias_refugio     337
edad              21
dtype: int64

In [45]:
def card (df, umbral_categoria, umbral_continua):
    
    cardinalidad = df.nunique()
    porcentaje_card = df.nunique()/len(df) * 100
    tipos = []

    for col in df.columns:
        card = cardinalidad[col]
        pct = porcentaje_card[col]

        if card == 2:
            tipos.append("Binaria")
        
        elif card <= umbral_categoria:
            tipos.append("Categórica")
   
        else: 
            if pct >= umbral_continua:
                tipos.append("Numérica Continua")
            else:
                tipos.append("Numérica Discreta")

    
    df_resultado = pd.DataFrame({"Cardinalidad" : cardinalidad, "% Cardinalidad" : porcentaje_card, "Tipo Variable": tipos})
    return df_resultado

In [47]:
card(df_adopciones, 166, 20)

              Cardinalidad  % Cardinalidad      Tipo Variable
fecha_adop            7401       83.457375  Numérica Continua
situ_adop               25        0.281912         Categórica
animal                   4        0.045106         Categórica
Sex                      3        0.033829         Categórica
castracion               3        0.033829         Categórica
raza                   166        1.871899         Categórica
color_pelaje            97        1.093820         Categórica
dias_refugio           337        3.800180  Numérica Discreta
edad                    21        0.236806         Categórica

In [49]:
# Variables categóricas:

categoricas = ["situ_adop", "animal", "Sex", "castracion", "raza", "color_pelaje", "edad"]

df_adopciones[categoricas].mode().T

                               0
situ_adop                Adopted
animal                       Cat
Sex                         Male
castracion                   Yes
raza          Domestic Shorthair
color_pelaje               Black
edad                           0

Según esta primera visual a las variables categóricas, se ve que:
- Predominan las adopciones
- La mayor parte de los animales son gatos
- Es más frecuente que los animales en el refugio sean machos 
- Es más frecuente que los animales en el refugio estén castrados
- La raza más frecuente son los gatos mestizos de pelo corto (Domestic x sólamente se corresponde con gatos)
- El color más frecuente del pelaje es negro
- Y hay mayor cantidad de cachorros (0 años)

In [50]:
# Frecuencias absolutas:

for categoria in categoricas:
    print(f"Para {categoria}")
    print(df_adopciones[categoria].value_counts())
    print()

Para situ_adop
situ_adop
Adopted                          4541
Transfer Out                     2235
Reclaimed                         700
Adopted Altered                   497
Euthanized                        370
Unassisted Death                  114
Return to Habitat                 101
DOA                                78
Adopted Offsite(Altered)           77
Adopted Offsite                    28
Adopted Unaltered                  27
Redemption (Offsite)               26
Unassisted Death - In Foster       23
Unassisted Death - In Transit      10
DOA - Released to Owner             9
Unresolved File                     8
Cremation - Communal                6
Euthanasia - RTO                    4
Adopted Offsite(Unaltered)          4
Interred                            4
Returned To Owner                   2
Escaped                             1
Cremated                            1
Cremation - Private                 1
Adopted to Finder                   1
Name: count, dtype: int64

Para animal
animal
Cat       4802
Dog       3269
Kitten     552
Puppy      245
Name: count, dtype: int64

Para Sex
Sex
Male       4111
Female     3962
Unknown     795
Name: count, dtype: int64

Para castracion
castracion
Yes        5980
No         1864
Unknown    1024
Name: count, dtype: int64

Para raza
raza
Domestic Shorthair           4701
American Pit Bull Terrier     653
Labrador Retriever            575
Domestic Medium Hair          396
German Shepherd               289
                             ...
Brittany Spaniel                1
Leonberger                      1
Irish Terrier                   1
Coonhound - Bluetick            1
Canaan Dog                      1
Name: count, Length: 166, dtype: int64

Para color_pelaje
color_pelaje
Black           1950
Brown Tabby     1415
White           1105
Orange Tabby     662
Blue             555
                ...
Lemon              1
Red Roan           1
Albino             1
Red Gold           1
Lilac              1
Name: count, Length: 97, dtype: int64

Para edad
edad
0          4352
1          1363
2          1210
3           526
4           301
Unknown     275
5           201
6           139
7           121
8           103
10           70
9            52
11           45
12           36
13           21
14           21
15           12
16           10
17            6
18            3
19            1
Name: count, dtype: int64