### ADOPCIONES

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from deep_translator import GoogleTranslator
from bootcampviztools import pinta_distribucion_categoricas, plot_categorical_relationship_fin, plot_categorical_numerical_relationship, \
                              plot_combined_graphs, plot_grouped_boxplots, plot_grouped_histograms, grafico_dispersion_con_correlacion, \
                              bubble_plot, tricategorical_analysis

In [3]:
import os
os.getcwd()

'c:\\Users\\Usuario\\Desktop\\LAURA\\THEBRIDGE\\GitHub\\EDA-MACHINE_LEARNING\\Adoptions'

In [4]:
os.listdir()

['Austin_Animal_Center_Outcomes.csv',
 'bootcampviztools.py',
 'EDA_Adopciones.ipynb',
 '__pycache__']

In [5]:
df_adopciones = pd.read_csv("Austin_Animal_Center_Outcomes.csv")
df_adopciones

,Outcome Date,Animal ID,Name,Outcome Status,Euthanasia Reason,Type,Sex,Spayed/Neutered,Primary Breed,Primary Color,Secondary Color,Date of Birth,Intake Date,Days in Shelter
0,01/27/2026 12:40:00 PM,20626,Colby,Adopted,NaN,Cat,Female,Yes,Domestic Shorthair,Muted Tortoiseshell,NaN,10/20/2018 12:00:00 AM,01/20/2026 04:12:00 PM,6
1,01/27/2026 02:41:35 PM,20489,George,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Brown Tabby,White,05/15/2023 12:00:00 AM,01/16/2026 06:50:00 PM,10
2,01/27/2026 03:24:59 PM,20579,Socks,Adopted,NaN,Dog,Male,Yes,American Pit Bull Terrier,Blue,White,01/20/2025 12:00:00 AM,01/20/2026 08:04:00 AM,7
3,01/27/2026 04:32:04 PM,20503,Tiger*,Adopted,NaN,Puppy,Male,yes,Labrador Retriever,White,NaN,11/09/2025 12:00:00 AM,01/17/2026 12:43:00 PM,10
4,06/22/2025 06:12:03 PM,8747,Smoke,Adopted,NaN,Dog,Male,Yes,American Pit Bull Terrier,Chocolate,NaN,01/25/2015 12:00:00 AM,06/02/2025 10:44:00 AM,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9346,12/20/2025 05:24:00 PM,16616,Spooky,Adopted,NaN,Cat,Male,Yes,Domestic Medium Hair,Black,NaN,08/29/2025 12:00:00 AM,12/19/2025 03:50:00 PM,1
9347,12/31/2025 04:02:09 PM,17471,Tino,Adopted Altered,NaN,Cat,Male,yes,Domestic Medium Hair,Black,NaN,08/29/2025 12:00:00 AM,10/29/2025 12:53:00 PM,63
9348,12/29/2025 05:23:12 PM,19569,Echo,Adopted,NaN,Cat,Female,Yes,Domestic Shorthair,Blue,White,08/29/2025 12:00:00 AM,12/19/2025 11:54:00 AM,10
9349,01/08/2026 06:22:37 PM,19567,Magic,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Black,NaN,08/29/2025 12:00:00 AM,12/19/2025 11:54:00 AM,20
9350,01/04/2026 03:07:41 PM,19568,Opie,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Black,White,08/29/2025 12:00:00 AM,12/19/2025 11:54:00 AM,16

In [6]:
df_adopciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9351 entries, 0 to 9350
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Outcome Date       9351 non-null   object
 1   Animal ID          9351 non-null   int64
 2   Name               5759 non-null   object
 3   Outcome Status     9351 non-null   object
 4   Euthanasia Reason  593 non-null    object
 5   Type               9351 non-null   object
 6   Sex                9341 non-null   object
 7   Spayed/Neutered    9340 non-null   object
 8   Primary Breed      9351 non-null   object
 9   Primary Color      9351 non-null   object
 10  Secondary Color    4923 non-null   object
 11  Date of Birth      8757 non-null   object
 12  Intake Date        9351 non-null   object
 13  Days in Shelter    9351 non-null   int64
dtypes: int64(2), object(12)
memory usage: 1022.9+ KB

In [7]:
df_adopciones.columns

Index(['Outcome Date', 'Animal ID', 'Name', 'Outcome Status',
       'Euthanasia Reason', 'Type', 'Sex', 'Spayed/Neutered', 'Primary Breed',
       'Primary Color', 'Secondary Color', 'Date of Birth', 'Intake Date',
       'Days in Shelter'],
      dtype='object')

In [8]:
df_adopciones.describe()

          Animal ID  Days in Shelter
count   9351.000000      9351.000000
mean   13002.489787        33.193027
std     4442.496142        63.200332
min     5944.000000         0.000000
25%     8824.500000         4.000000
50%    13082.000000        12.000000
75%    16763.500000        41.000000
max    21332.000000      1641.000000

In [11]:
df_adopciones.loc[df_adopciones["Euthanasia Reason"].isna()]

,Outcome Date,Animal ID,Name,Outcome Status,Euthanasia Reason,Type,Sex,Spayed/Neutered,Primary Breed,Primary Color,Secondary Color,Date of Birth,Intake Date,Days in Shelter
0,01/27/2026 12:40:00 PM,20626,Colby,Adopted,NaN,Cat,Female,Yes,Domestic Shorthair,Muted Tortoiseshell,NaN,10/20/2018 12:00:00 AM,01/20/2026 04:12:00 PM,6
1,01/27/2026 02:41:35 PM,20489,George,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Brown Tabby,White,05/15/2023 12:00:00 AM,01/16/2026 06:50:00 PM,10
2,01/27/2026 03:24:59 PM,20579,Socks,Adopted,NaN,Dog,Male,Yes,American Pit Bull Terrier,Blue,White,01/20/2025 12:00:00 AM,01/20/2026 08:04:00 AM,7
3,01/27/2026 04:32:04 PM,20503,Tiger*,Adopted,NaN,Puppy,Male,yes,Labrador Retriever,White,NaN,11/09/2025 12:00:00 AM,01/17/2026 12:43:00 PM,10
4,06/22/2025 06:12:03 PM,8747,Smoke,Adopted,NaN,Dog,Male,Yes,American Pit Bull Terrier,Chocolate,NaN,01/25/2015 12:00:00 AM,06/02/2025 10:44:00 AM,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9346,12/20/2025 05:24:00 PM,16616,Spooky,Adopted,NaN,Cat,Male,Yes,Domestic Medium Hair,Black,NaN,08/29/2025 12:00:00 AM,12/19/2025 03:50:00 PM,1
9347,12/31/2025 04:02:09 PM,17471,Tino,Adopted Altered,NaN,Cat,Male,yes,Domestic Medium Hair,Black,NaN,08/29/2025 12:00:00 AM,10/29/2025 12:53:00 PM,63
9348,12/29/2025 05:23:12 PM,19569,Echo,Adopted,NaN,Cat,Female,Yes,Domestic Shorthair,Blue,White,08/29/2025 12:00:00 AM,12/19/2025 11:54:00 AM,10
9349,01/08/2026 06:22:37 PM,19567,Magic,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Black,NaN,08/29/2025 12:00:00 AM,12/19/2025 11:54:00 AM,20
9350,01/04/2026 03:07:41 PM,19568,Opie,Adopted,NaN,Cat,Male,Yes,Domestic Shorthair,Black,White,08/29/2025 12:00:00 AM,12/19/2025 11:54:00 AM,16